<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iarlenaquiles.estudoandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ToggleActivity"
            android:label="@string/title_activity_toggle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditTextActivity"
            android:label="@string/title_activity_edit_text"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AutoCompleteActivity"
            android:label="@string/title_activity_auto_complete"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SpinnerActivity"
            android:label="@string/title_activity_spinner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RadioActivity"
            android:label="@string/title_activity_radio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DropDownActivity"
            android:label="@string/title_activity_drop_down"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>